<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>TextServlet</servlet-name>
  	<display-name>TextServlet</display-name>
  	<description></description>
  	<servlet-class>com.king.Booking.servlet.TextServlet</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.king.Booking.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowMapServlet</servlet-name>
  	<display-name>ShowMapServlet</display-name>
  	<description></description>
  	<servlet-class>com.king.Booking.servlet.ShowMapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TextServlet</servlet-name>
  	<url-pattern>/TextServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowMapServlet</servlet-name>
  	<url-pattern>/ShowMapServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
